section:nth-child(3) {
	--background: gold;
	--inset: calc(3 * var(--spacing)); /* New, “local” variable. */

	inline-size: calc(100% - var(--inset));
	inset-block-start: var(--inset);  /* From its default/static position. */
	inset-inline-start: var(--inset);
	position: relative;
}
