section { --background: aquamarine; }

/* The same as `(500px <= width <= 700px)`! */
@media (width >= 500px) and (width <= 700px) {
	section:first-child { --background: gold; }
}

/* Has to match both/each test to apply. */
@media (width > 500px) and (height > 400px) {
	section:last-child { --background: orange; }
}
