section:nth-child(3) {
	background-color: gold;
	inline-size: 66%;
	inset-block-start: 3rem;
	inset-inline-start: 3rem;
	position: sticky;
}

section:nth-child(even) { /* Every other one! */
	position: relative;
	z-index: 1;
}
