body {
	font-family: sans-serif;
	padding: 1rem; /* An “inset” on the whole page. */
}

section { padding: 1rem; } /* And again inside each of these. */

section:nth-child(1) { background-color: deepskyblue; }
section:nth-child(2) { background-color: gold; }
section:nth-child(3) { background-color: tomato; }
