section:nth-child(3) {
	--background: gold;
	--inset: calc(3 * var(--spacing));

	inline-size: calc(100% - var(--inset));
	inset-block-start: var(--inset);
	inset-inline-start: var(--inset);
	position: sticky;
}
