aside {
	background-color: gold;
	float: inline-start;
	inline-size: calc(10 * var(--spacing));
	margin-inline-end: var(--spacing);
	padding: var(--spacing);
}

section:nth-child(2) aside {
	float: inline-end;
	margin-inline-end: initial;
	margin-inline-start: var(--spacing);
}

section::after { /* This is the “clearfix”. */
	clear: both;
	content: '';
	display: block;
}
