:root {
	--background: aquamarine;
	--spacing: 1rem;

	font-size: var(--spacing);

	/* We usually can leave `screen` off, as the default. */
	@media screen and (width > 500px) { --background: coral; }
}

@media print {
	:root {
		--background: initial; /* Resets/clears this. */
		--spacing: 18pt; /* Appropriate absolute units! */

		print-color-adjust: exact; /* Print backgrounds, etc! */
	}

	/* And maybe we have some `print`-only properties. */
	section {
		border: calc(var(--spacing) / 3) solid black;
		font-family: serif;
		padding: 0.5in;
	}
}
