/* Every one but the first one. */
section:not(:first-child) { margin-block-start: 4rem; }

/* You can push in from the sides! */
section:nth-child(2) { margin-inline-end: 4rem; }

section:nth-child(3) { margin-inline-start: 4rem; }
