section:nth-child(3) {
	--background: gold;
	--inset: calc(3 * var(--spacing));

	inline-size: calc(100% - var(--inset));
	inset-block-start: var(--inset);
	inset-inline-start: var(--inset);
	position: absolute; /* Here, in relation to `body`. */
}

section:nth-child(5) {
	--background: tomato;

	position: relative; /* The closest relative ancestor. */

	p {
		--inset: calc(2 * var(--spacing));

		inset-block-start: var(--inset);
		inset-inline-start: var(--inset);
		position: absolute; /* From the parent `section` now. */
	}
}
