/* The `background-color` is now applied in `setup.css`! */
section { --background: aquamarine; }

@media (width >= 500px) {
	section:first-child { --background: coral; }
}

@media (width = 500px) {
	section:nth-child(2) { --background: orange; }
}

@media (width <= 500px) {
	section:last-child { --background: gold; }
}
