body {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 6rem 65vh 6rem;
	grid-template-areas:
		'header header header'
		'main   main   aside '
		'footer footer aside '; /* Set up our grid. */
}

header {
	background-color: crimson;
	grid-area: header; /* Assign the item/children! */
}

main {
	background-color: hotpink;
	grid-area: main;
}

aside {
	background-color: lightsalmon;
	grid-area: aside;
}

footer { grid-area: footer; }
