body {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 6rem 65vh 6rem;
	grid-template-areas:
		'intro intro intro  '
		'copy  copy  sidebar'
		'legal legal sidebar'; /* Set up our grid. */
}

header {
	background-color: crimson;
	grid-area: intro; /* Assign the item/children! */
}

main {
	background-color: hotpink;
	grid-area: copy;
}

aside {
	background-color: lightsalmon;
	grid-area: sidebar;
}

footer { grid-area: legal; }
