main {
	display: flex; /* We’ll talk about `flex` soon! */
	flex-wrap: wrap;
	gap: var(--spacing);
}

section {
	--background: aquamarine;

	inline-size: var(--inline, 100%);
}

@media (width > 500px) {
	section {
		--background: gold;
		--inline: calc((100% - var(--spacing)) / 2);
	}
}

@media (width > 700px) {
	section {
		--background: orange;
		--inline: calc((100% - 3 * var(--spacing)) / 4);
	}
}
