:root {
	--spacing: 1rem;

	font-size: var(--spacing);

	/* Adjust our “global” variables. */
	@media (width > 700px) { --spacing: 1.333rem; }
}

main {
	display: flex; /* We’ll talk about `flex` soon! */
	flex-wrap: wrap;
	gap: var(--spacing);
}

section {
	--background: aquamarine;

	inline-size: var(--inline, 100%);

	/* And any per-element needs. */
	@media (width > 500px) {
		--background: gold;
		--inline: calc((100% - var(--spacing)) / 2);
	}

	@media (width > 700px) {
		--background: orange;
		--inline: calc((100% - 2 * var(--spacing)) / 3);
	}
}
