section { --background: aquamarine; }

aside { --background: gold; }

/* When the device supports `hover`. */
@media (hover: hover) {
	aside { visibility: hidden; }

	section:hover + aside { visibility: visible; }
}
