:where(code, kbd, samp) {
	-webkit-user-select: all;
	line-height:         1;
	text-box:            trim-both cap alphabetic;
	user-select:         all;
	white-space:         pre;
}

/* TODO fix wrapping without `inline-block`? */
:where(*:not(pre)) > code:where(:not(nav code)),
kbd,
samp {
	background:      linear-gradient(var(--background)) padding-box, var(--background--check) border-box;
	border:          var(--1px) solid transparent;
	clip-path:       var(--clip--corner);
	display:         inline-block;
	font-weight:     initial;
	isolation:       isolate;
	margin-block:    var(---4px);
	max-inline-size: calc(100% - 1ch);
	overflow-x:      auto;
	overflow-y:      clip;
	padding-block:   var(--3px);
	scrollbar-width: none;

	/* Land pattern with “chipped” corners. */
	@supports (inline-size: calc-size(auto, size)) {
		clip-path:   initial;
		inline-size: calc-size(auto, round(up, calc(size + -1 * var(--kerning, 0em)), var(--2px)) - var(--1px));
	}

	/* Something with the `overflow`! */
	@supports (-moz-appearance: none) {
		margin-block-end: var(---4px);
		padding-block:    var(--2px);
	}

	/* Don’t overshoot link underlines. */
	a:not(:has(cite)) & {
		border-block-end: initial;
		mix-blend-mode:   multiply;
	}

	@container style(--size: 9) {
		margin-block:   var(---3px);
		padding-block:  var(--2px);
	}

	/* “Fade” overflow edges. */
	&::before,
	&::after {
		background-color:   var(--background);
		block-size:         2em;
		content:            '';
		display:            inline-block;
		inline-size:        var(--3px);
		margin-block-end:   var(---4px);
		margin-block-start: -100%;
		mask:               var(--background--check);
		position:           sticky;
		text-box:           trim-both cap alphabetic;
		vertical-align:     baseline;
	}

	&::before { inset-inline-start: 0 }

	&::after  {
		inset-inline-end:    0;
		margin-inline-start: calc(-1 * var(--kerning, 0em));
	}
}
