code, kbd, samp {
	white-space: pre;
}

:where(*:not(pre)) > code,
kbd,
samp {
	background-clip:  padding-box;
	background-color: var(--background);
	border:           var(--1px) solid transparent;
	isolation:        isolate;
	padding-inline:   var(--3px);
	position:         relative;

	/* TODO Fractional/rounding is off on mobile! */
	&::after {
		background: var(--check);
		content:    '';
		inset:      calc(-1 * var(--1px));
		position:   absolute;
		z-index:    -1;
	}

	@container style(--size: 9) or style(--size: 10){
		padding-bottom: calc(var(--3px) / 4); /* 🤷‍♀️ */
	}

	/* Don’t overshoot link underlines. */
	a & {
		mix-blend-mode: multiply;

		&::after { inset-block-end: 0 }
	}
}

pre {
	background-color: var(--color);
	display:          flex;
	inline-size:      fit-content;
	max-inline-size:  100%;
	overflow-x:       scroll;
	padding:          var(--lead);
	text-box:         trim-both cap alphabetic;

	@supports (not (font: -apple-system-body)) and (not (-moz-appearance: none)) {
		border-radius:    var(--1px);
		corner-shape:     notch;
	}

	code {
		color: var(--background);
	}
}
