code, kbd, samp { white-space: pre }

:where(*:not(pre)) > code,
kbd,
samp {
	background:     linear-gradient(var(--background)) padding-box, var(--background--check) border-box;
	border:         var(--1px) solid transparent;
	padding-inline: var(--3px);

	/* Don’t overshoot link underlines. */
	a:not(:has(cite)) & {
		border-block-end: initial;
		mix-blend-mode:   multiply;
	}
}
