@font-face { font-family: 'Geneva';   src: url('../assets/fonts/geneva.woff2') }
@font-face { font-family: 'New York'; src: url('../assets/fonts/new-york.woff2') }
@font-face { font-family: 'Monaco';   src: url('../assets/fonts/monaco.woff2') }
@font-face { font-family: 'Chicago';  src: url('../assets/fonts/chicago.woff2') }
@font-face { font-family: 'Venice';   src: url('../assets/fonts/venice.woff2') }

:where(:root) {
	-moz-osx-font-smoothing:  grayscale; /* This functions as `none`. */
	-webkit-font-smoothing:   none;
	-webkit-text-size-adjust: none;
	font-family:              var(--family), sans-serif;
	font-optical-sizing:      none;
	font-size:                calc((var(--size) * var(--scaling) / 16) * 100%);
	font-smooth:              never;
	font-synthesis:           none;
	line-height:              var(--leading);
	text-rendering:           geometricPrecision;

	:where(*, *::before, *::after) {
		/* For inline element backgrounds (links and such). */
		--underline: calc((var(--size) + var(--baseline)) * var(--1px));

		color:                   var(--color, currentcolor);
		font-family:             var(--family);
		font-size:               calc(var(--size) * var(--1px));
		font-variation-settings: 'opsz' var(--size), 'ital' var(--italic, 0);
		letter-spacing:          var(--kerning);
		line-height:             var(--leading);
		text-wrap:               var(--wrap, pretty);

		/* Insets baked into font. Varies, but going from an M. */
		/* Safari doesn‘t support range comparisons in style queries! */
		/* https://caniuse.com/mdn-css_at-rules_container_style_queries_for_custom_properties_range_syntax */
		@container style(--family: 'Geneva') {
			@container style(--size: 9)  { --left: 0;          --right: var(--1px); --baseline: 2 }
			@container style(--size: 10) { --left: var(--1px); --right: var(--1px); --baseline: 1 }
			@container style(--size: 12) { --left: var(--1px); --right: var(--1px); --baseline: 2 }
			@container style(--size: 14) { --left: var(--1px); --right: var(--1px); --baseline: 2 }
			@container style(--size: 18) { --left: var(--1px); --right: var(--2px); --baseline: 3 }
			@container style(--size: 20) { --left: var(--2px); --right: var(--3px); --baseline: 3 }
			@container style(--size: 24) { --left: var(--1px); --right: var(--2px); --baseline: 3 }
		}

		/* Safariiii! 🤌 */
		@supports (font: -apple-system-body) { @container style(--family: 'Geneva') and style(--size: 9) { --baseline: 1 } }

		@container style(--family: 'New York') {
			@container style(--size: 9)  { --left: 0;          --right: var(--1px); --baseline: 2 }
			@container style(--size: 10) { --left: 0;          --right: var(--1px); --baseline: 1 }
			@container style(--size: 12) { --left: 0;          --right: var(--1px); --baseline: 2 }
			@container style(--size: 14) { --left: 0;          --right: var(--1px); --baseline: 2 }
			@container style(--size: 18) { --left: var(--1px); --right: var(--1px); --baseline: 1 }
			@container style(--size: 20) { --left: var(--1px); --right: var(--1px); --baseline: 1 }
			@container style(--size: 24) { --left: var(--2px); --right: var(--2px); --baseline: 0 }
			@container style(--size: 36) { --left: var(--3px); --right: var(--3px); --baseline: 2 }
		}

		@container style(--family: 'Monaco') {
			@container style(--size: 9)  { --left: 0;          --right: var(--1px); --baseline: 1 }
			@container style(--size: 12) { --left: var(--1px); --right: var(--1px); --baseline: 2 }
		}

		@container style(--family: 'Chicago') {
			--size: 12; /* Just the one! */

			--left: var(--1px);
			--right: var(--1px);

			--baseline: 2;
		}

		@container style(--family: 'Venice') {
			--size: 14; /* Same. */

			--left: 0;
			--right: 0;

			--baseline: 4;
		}
	}
}

/* Separate strike files for each `opsz` until Chrome gets its act together: */
/* https://issues.chromium.org/issues/505751224 */
@supports (not (font: -apple-system-body)) and (not (-moz-appearance: none)) {
	@font-face { font-family: 'Geneva 9';  src: url('../assets/fonts/geneva--9.woff2') }
	@font-face { font-family: 'Geneva 10'; src: url('../assets/fonts/geneva--10.woff2') }
	@font-face { font-family: 'Geneva 12'; src: url('../assets/fonts/geneva--12.woff2') }
	@font-face { font-family: 'Geneva 14'; src: url('../assets/fonts/geneva--14.woff2') }
	@font-face { font-family: 'Geneva 18'; src: url('../assets/fonts/geneva--18.woff2') }
	@font-face { font-family: 'Geneva 20'; src: url('../assets/fonts/geneva--20.woff2') }
	@font-face { font-family: 'Geneva 24'; src: url('../assets/fonts/geneva--24.woff2') }

	@font-face { font-family: 'New York 9';  src: url('../assets/fonts/new-york--9.woff2') }
	@font-face { font-family: 'New York 10'; src: url('../assets/fonts/new-york--10.woff2') }
	@font-face { font-family: 'New York 12'; src: url('../assets/fonts/new-york--12.woff2') }
	@font-face { font-family: 'New York 14'; src: url('../assets/fonts/new-york--14.woff2') }
	@font-face { font-family: 'New York 18'; src: url('../assets/fonts/new-york--18.woff2') }
	@font-face { font-family: 'New York 20'; src: url('../assets/fonts/new-york--20.woff2') }
	@font-face { font-family: 'New York 24'; src: url('../assets/fonts/new-york--24.woff2') }
	@font-face { font-family: 'New York 36'; src: url('../assets/fonts/new-york--36.woff2') }

	@font-face { font-family: 'Monaco 9';  src: url('../assets/fonts/monaco--9.woff2') }
	@font-face { font-family: 'Monaco 12'; src: url('../assets/fonts/monaco--12.woff2') }

	/* Swap them in. */
	:where(:root) :where(*, *::before, *::after) {
		font-family: var(--font);

		@container style(--family: 'Geneva') {
			@container style(--size: 9)  { --font: 'Geneva 9' }
			@container style(--size: 10) { --font: 'Geneva 10' }
			@container style(--size: 12) { --font: 'Geneva 12' }
			@container style(--size: 14) { --font: 'Geneva 14' }
			@container style(--size: 18) { --font: 'Geneva 18' }
			@container style(--size: 20) { --font: 'Geneva 20' }
			@container style(--size: 24) { --font: 'Geneva 24' }
		}

		@container style(--family: 'New York') {
			@container style(--size: 9)  { --font: 'New York 9' }
			@container style(--size: 10) { --font: 'New York 10' }
			@container style(--size: 12) { --font: 'New York 12' }
			@container style(--size: 14) { --font: 'New York 14' }
			@container style(--size: 18) { --font: 'New York 18' }
			@container style(--size: 20) { --font: 'New York 20' }
			@container style(--size: 24) { --font: 'New York 24' }
			@container style(--size: 36) { --font: 'New York 36' }
		}

		@container style(--family: 'Monaco') {
			@container style(--size: 9)  { --font: 'Monaco 9' }
			@container style(--size: 12) { --font: 'Monaco 12' }
		}

		@container style(--family: 'Chicago') { --font: 'Chicago' }
		@container style(--family: 'Venice')  { --font: 'Venice' }
	}
}
