@font-face {
	font-family: 'Geneva';
	src:         url('../assets/fonts/geneva.woff2');
	font-weight: 400 700;
}

:where(:root) {
	-moz-osx-font-smoothing:  grayscale; /* This functions as `none`. */
	-webkit-font-smoothing:   none;
	-webkit-text-size-adjust: none;
	font-family:              'Geneva', sans-serif;
	font-optical-sizing:      none;
	font-size:                24px;
	font-smooth:              never;
	font-synthesis:           none;
	font-variation-settings: 'opsz' 12;
	line-height:              1;
}


a { color: red }
abbr { color: orange }
