@font-face { font-family: 'Geneva';   src: url('../assets/fonts/geneva.woff2') }
@font-face { font-family: 'New York'; src: url('../assets/fonts/new-york.woff2') }
@font-face { font-family: 'Monaco';   src: url('../assets/fonts/monaco.woff2') }

:where(:root) {
	-moz-osx-font-smoothing:  grayscale; /* This functions as `none`. */
	-webkit-font-smoothing:   none;
	-webkit-text-size-adjust: none;
	font-family:              var(--font), sans-serif;
	font-optical-sizing:      none;
	font-size:                calc((var(--size) * var(--scaling) / 16) * 100%);
	font-smooth:              never;
	font-synthesis:           none;
	line-height:              1;
	text-rendering:           geometricPrecision;

	* {
		color:                   var(--color, currentcolor);
		font-variation-settings: 'opsz' var(--size), 'ital' var(--italic);
	}
}

/* Separate strike files for each `opsz` until Chrome gets its act together: */
/* https://issues.chromium.org/issues/505751224 */
@supports (not (font: -apple-system-body)) and (not (-moz-appearance: none)) {
	@font-face { font-family: 'Geneva 9';  src: url('../assets/fonts/geneva--9.woff2') }
	@font-face { font-family: 'Geneva 10'; src: url('../assets/fonts/geneva--10.woff2') }
	@font-face { font-family: 'Geneva 12'; src: url('../assets/fonts/geneva--12.woff2') }
	@font-face { font-family: 'Geneva 14'; src: url('../assets/fonts/geneva--14.woff2') }
	@font-face { font-family: 'Geneva 18'; src: url('../assets/fonts/geneva--18.woff2') }
	@font-face { font-family: 'Geneva 20'; src: url('../assets/fonts/geneva--20.woff2') }
	@font-face { font-family: 'Geneva 24'; src: url('../assets/fonts/geneva--24.woff2') }

	@font-face { font-family: 'New York 9';  src: url('../assets/fonts/new-york--9.woff2') }
	@font-face { font-family: 'New York 10'; src: url('../assets/fonts/new-york--10.woff2') }
	@font-face { font-family: 'New York 12'; src: url('../assets/fonts/new-york--12.woff2') }
	@font-face { font-family: 'New York 14'; src: url('../assets/fonts/new-york--14.woff2') }
	@font-face { font-family: 'New York 18'; src: url('../assets/fonts/new-york--18.woff2') }
	@font-face { font-family: 'New York 20'; src: url('../assets/fonts/new-york--20.woff2') }
	@font-face { font-family: 'New York 24'; src: url('../assets/fonts/new-york--24.woff2') }
	@font-face { font-family: 'New York 36'; src: url('../assets/fonts/new-york--36.woff2') }

	@font-face { font-family: 'Monaco 9';  src: url('../assets/fonts/moncao--9.woff2') }
	@font-face { font-family: 'Monaco 12'; src: url('../assets/fonts/moncao--12.woff2') }
}
