:where(:root) { -webkit-tap-highlight-color: transparent }

a:where([href]),
button:where(:not([disabled])),
summary {
	cursor:         pointer;
	display:        block;
	outline-offset: var(--enlargement);
	position:       relative;

	/* Focus outline. */
	&:focus {
		outline: none;

		&:focus-visible {
			outline-color: var(--color);
			outline-style: solid;
			outline-width: var(--1px);
		}
	}

	/* Pseudo for clicks, enlarged without shenanigans on parent. */
	&::after {
		content:  '';
		inset:    calc(-1 * var(--enlargement));
		position: absolute;
	}
}

/* Inline links. */
:where(
	:is(figcaption, li, summary):where(:not(:has(details, ol, p, section, ul))),
	cite,
	dd,
	dt,
	p,
	td,
	th
) a:where(:not(:has(cite))) {
		--underline: 1.34em;

		/* Instead of `text-decoration`, which rounds to nearest (CSS) pixel! */
		background:            var(--background--border);
		background-clip:       content-box;
		background-position-y: round(down, calc(var(--underline) + var(--shift, 0em)), var(--1px));
		box-decoration-break:  clone; /* “Restart” inline padding/margin over on wrapped links. */
		display:               inline;
		line-height:           inherit;
		margin-inline-end:     calc(-1 * var(--enlargement));
		margin-inline-start:   calc(-1 * var(--enlargement));
		outline-offset:        unset;
		padding-block:         var(--1px);
		padding-inline-end:    var(--enlargement);
		padding-inline-start:  var(--enlargement);
		position:              unset;

		/* Clear/”skip” the descenders, as we know the background color. */
		text-shadow:
				var(--background) 0           var(---1px), /* N  */
				var(--background) var(--1px)  var(---1px), /* NW */
				var(--background) var(--1px)  0,           /* W  */
				var(--background) var(--1px)  var(--1px),  /* SW */
				var(--background) 0           var(--1px),  /* S  */
				var(--background) var(---1px) var(--1px),  /* SE */
				var(--background) var(---1px) 0,           /* E  */
				var(--background) var(---1px) var(---1px)  /* NE */
			;

			@container style(--size: 10) { --underline: 1.2em }
			@container style(--size: 12) { --underline: 1.17em }
			@container style(--size: 14) { --underline: 1.15em }

			/* Safariiii! */
			@supports (font: -apple-system-body) { @container style(--size: 9) { --shift: -0.05em } }

		/* Use background for active highlight, as it might wrap. */
		&::after { all: unset }
}
