@page {
	margin-block-end:   calc(1in - var(--3px)); /* Don’t clip descenders. */
	margin-block-start: 1in;
	margin-inline:      0in; /* On `:root` for nicer Rendering-tab preview. */
	size:               letter;
}

@page :first { margin-block-start: initial }

/* Toggle stuff. */
.print  { display: block }
.screen, hgroup a, body > :where(nav, footer) { display: none }

/* Resets. */
:root {
	--scaling: 1.5;
	--gutter:  initial;

	background:         initial;
	margin-block:       1in;
	orphans:            5;
	padding-inline:     1in;
	print-color-adjust: exact;
	widows:             5;
}

body {
	background:  initial;
	inline-size: initial;
	padding:     initial;

	/* Landing. */
	> header {
		--color:      initial;
		--background: initial;
	}
}

main {
	/* Swap semester content. */
	&.fall :is(.spring, .spring + br, hgroup:has(a[href^="#fall"])),
	&.spring :is(.fall, .fall + br, hgroup:has(a[href^="#spring"])) { display: none }

	/* The “windows.” */
	&:not(:has(> section)), & > section {
		background:  initial;
		box-shadow:  initial;
		inline-size: initial;
		margin:      initial;
		padding:     initial;
	}
}

header:has(h1) {
	block-size:       initial;
	margin-block-end: 1in;
	overflow:         initial;
	padding:          initial;
}

abbr { background: initial }

/* Adjustments. */
main, section {
	display: block; /* Needed for break (fragmentation) control! */

	> *:where(:not(:first-child)) { margin-block-start: var(--line) }
}

section:has(> hgroup > h2) {
	margin-block-start: 1in;

	> hgroup:has(h2) {
		padding-block-end: 1cap;

		+ * { margin-block-start: calc(var(--line) + 1rlh) }
	}
}

/* Get around CSS-pixel rounding for the pattern. 🫠 */
hgroup:has(h2),
section section:not(hgroup + section) > hgroup:has(h3) {
	background: initial;
	position:   relative;

	&::before {
		--size: var(--size--root);

		/* TODO Unclear why we need to repeat this! */
		font-size:      calc(var(--size) * var(--1px));
		inset-inline:   var(---1px);
		overflow:       clip;
		pointer-events: none;
		position:       absolute;
		translate:      0 var(--resolve);
	}
}

hgroup:has(h2) {
	--resolve: calc(1cap + var(---3px)); /* Pass down. */

	&::before {
		inset-block-end: 0;
		content:         '————————————————————————————————————————————————————————————————————————————————————————————————————' / '';
		letter-spacing:  var(---2px); /* Same here! Vs. `--kerning`. */
	}
}

section section:not(hgroup + section) > hgroup:has(h3) {
	--resolve: calc(-1cap + var(---1px));

	&::before {
		inset-block-start: 0;
		content:           '................................................................................................................................................................................................................................................' / '';
		letter-spacing:    var(---1px);
	}
}

/* These get fractional, just turn them off. */
:where(p, li):has(a > cite) a:not(:has(cite)) { background: initial }

section:has(> hgroup > h3) { margin-block-start: calc(var(--line) + 2rlh) }
section:has(> hgroup > h4) { margin-block-start: calc(var(--line) + 1rlh) }

p:has(> strong:only-child) + * { margin-block-start: calc(var(--line) + 1rlh) }

/* Catalog link. */
.sticky { margin-block-start: calc(var(--line) + 1rlh) }

/* Breaks. */
hgroup, p:has(> strong:only-child):has(+ p, + ul) { break-after: avoid }
:where(p, li):has(a > cite):has(br) { break-inside: avoid }
:where(p:has(> sub:only-child)) { break-before: avoid }

/* 🍝 */
hgroup:has(#course-description, #reading-responses) + p { --wrap: pretty }
hgroup:has(#materials-and-supplies, #inclusion) + p,
hgroup:has(#project-1-manuscript) ~ p { --wrap: balance }
