@page {
	margin-block:  1in;
	margin-inline: 0in; /* On `:root` for nicer Rendering-tab preview. */
	size:          letter;
}

@page :first { margin-block-start: initial }
@page :last  { margin-block-start: initial }

/* Toggle stuff. */
.print  { display: block }

.screen,
.spring,
.spring + br,
[inert],
hgroup a,
hgroup:has(a[href^="#fall"]),
body > :where(nav, footer) {
	display: none;
}

/* Resets. */
:root {
	--scaling: 1.5;
	--gutter:  initial;

	background:         initial;
	padding:            1in;
	print-color-adjust: exact;
}

body {
	background:  initial;
	inline-size: initial;
	padding:     initial;
}

/* The “windows.” */
main:not(:has(> section)),
main > section {
	background:  initial;
	border:      initial;
	box-shadow:  initial;
	inline-size: initial;
	margin:      initial;
	padding:     initial;
}

header:has(h1) {
	block-size: initial;
	overflow:   initial;
	padding:    initial;
}

abbr { background: initial }
