:is(figcaption, li, summary):where(:not(:has(details, ol, p, section, ul))), /* “Tight” ones. */
cite,
dd,
dt,
h1,
h2,
h3,
h4,
p,
td,
th {
	margin-inline-end:   calc(-1 * var(--right) - var(--kerning, 0em));
	margin-inline-start: calc(-1 * var(--left));
	overflow-wrap:       break-word;
	text-box:            trim-both cap alphabetic;

	/* Chrome doesn’t apply `text-box-trim` on inline elements, so can’t set on `*`:
	/* https://codepen.io/nileshprajapati/pen/RweKdmw */
	/* https://caniuse.com/mdn-css_properties_text-box-trim_inline_elements */
}

em {
	--italic: 1;

	font-style:          italic;
	margin-inline-end:   round(0.25em, var(--1px));
	margin-inline-start: round(-0.125em, var(--1px));

	/* `font-style` does *not* set `ital` axes! */
	/* https://arrowtype.github.io/vf-slnt-test/slnt-ital-tests/index.html */
}

/* TODO `markdown-it` process solo `strong`/`sub` out to something more semantic? */
strong {
	font-weight: bold;

	@container style(--size >= 12) { --kerning: calc(-1 * var(--1px)) }

	/* Sure would be great if Safari supported range comparisons here! */
	@supports (font: -apple-system-body) {
		@container style(--size: 9) or style(--size: 10) or style(--size: 12) { --kerning: calc(-1 * var(--1px)) }
	}
}

nobr { --wrap: nowrap }

abbr {
	background:            var(--background--dashed);
	background-clip:       content-box;
	background-position-y: var(--underline);
	line-height:           inherit;
	margin-inline-end:     calc(-1 * var(--right) - var(--kerning, 0em));
	margin-inline-start:   calc(-1 * var(--left));
	padding-inline-end:    var(--right);
	padding-inline-start:  var(--left);
}

/* TODO Do this as white-check overlay? Or as `mask-image`! */
[inert] {
	:is(figcaption, li, summary):where(:not(:has(details, ol, p, section, ul))),
	dd,
	dt,
	h1,
	h2,
	h3,
	h4,
	p,
	td,
	th {
		background:        var(--check--text);
		color:             transparent;
		padding-block-end: round(0.5ex, var(--1px));
		margin-block-end:  calc(-1 * round(0.5ex, var(--1px)));

		* { color: inherit }

		a:empty { visibility: hidden } /* Heading anchor links. */

		@supports (font: -apple-system-body) {
			/* Fix Safari rounding. 🤷‍♀️ */
			a, em, strong, abbr { --kerning: 0.0001em }

			a {
				position: static; /* These straight up disappear… */

				&::after { all: unset } /* And cause a scroll! */
			}
		}
	}
}

/* On parent for `@container`. */
hgroup:has(h1, h2, h3) { --family:  'New York' }

@container style(--family: 'New York') {
	:where(*, *::before, *::after) {
		--wrap:    balance;
		--leading: 1;
		--kerning: round(
			calc(-0.1em * pow(var(--size) / 36, 1.5)),
			var(--1px)
		);
	}
}

hgroup:has(h1) { --size: var(--size--h1) }
hgroup:has(h2) { --size: var(--size--h2) }

hgroup:has(h3) {
	--size: var(--size--h3);

	/* Tweak smaller breaks. */
	@container style(--size: 14) {
		h3 {
			--kerning: initial;

			font-weight: bold; /* Goes to `1px`; bulk up. */
		}
	}
}

/* Stay swiss. */
hgroup:has(h4), dt {
	--size: var(--size--h4);

	font-weight: bold;
}

/* Code stuff! */
code, kbd, samp {
	--size: var(--size--code);

	font-family: 'Monaco', monospace;

	@container style(--size: 9) or style(--size: 10){ --size: 9 } /* Notes and such. */
}

/* “Kerning” on top of overall adjustment above. */
h1 {
	--resolve: var(--kerning); /* Pass down. */

	span[aria-hidden] { --kerning: calc(var(--resolve) + var(--kern) * var(--1px)) }

	/* Relative `---1px`. */
	@container style(--size: 24) {
		.a:has(+ .b) { --kern: -1 }
		.A:has(+ .b) { --kern: -1 }
		.A:has(+ .l) { --kern: -1 }
		.a:has(+ .n) { --kern: 1 }
		.a:has(+ .p) { --kern: -1 }
		.a:has(+ .s) { --kern: -1 }
		.b:has(+ .o) { --kern: -1 }
		.b:has(+ .u) { --kern: -3 }
		.c:has(+ .r) { --kern: 1 }
		.e:has(+ .b) { --kern: -1 }
		.e:has(+ .k) { --kern: -1 }
		.g:has(+ .e) { --kern: -1 }
		.h:has(+ .e) { --kern: -1 }
		.h:has(+ .y) { --kern: -1 }
		.I:has(+ .n) { --kern: -1 }
		.i:has(+ .p) { --kern: -1 }
		.I:has(+ .s) { --kern: -2 }
		.I:has(+ .t) { --kern: -2 }
		.l:has(+ .a) { --kern: -1 }
		.M:has(+ .a) { --kern: -1 }
		.n:has(+ .t) { --kern: -1 }
		.n:has(+ .u) { --kern: -1 }
		.o:has(+ .g) { --kern: 1 }
		.o:has(+ .u) { --kern: -1 }
		.p:has(+ .h) { --kern: -1 }
		.P:has(+ .r) { --kern: 1 }
		.p:has(+ .t) { --kern: -1 }
		.r:has(+ .a) { --kern: -1 }
		.r:has(+ .i) { --kern: -1 }
		.r:has(+ .o) { --kern: -1 }
		.s:has(+ .s) { --kern: -1 }
		.S:has(+ .y) { --kern: -2 }
		.T:has(+ .h) { --kern: -1 }
		.T:has(+ .y) { --kern: -4 }
		.u:has(+ .s) { --kern: -1 }
		.u:has(+ .t) { --kern: -1 }
		.v:has(+ .e) { --kern: -1 }
		.W:has(+ .e) { --kern: -4 }
		.y:has(+ .l) { --kern: -1 }
		.y:has(+ .p) { --kern: -1 }

		.amp:has(+ .I) { --kern: -3 }
		.y:has(+ .amp) { --kern: -1 }

		.rsquo:has(+ .s) { --kern: -2 }
		.t:has(+ .rsquo) { --kern: -1 }
		*:has(+ .ldquo) { --kern: -4 }
		*:has(+ .rdquo) { --kern: -1 }

		*:has(+ .colon) { --kern: -1 }

		.num1 { --kern: -3 }
	}

	/* Relative `---4px`. */
	@container style(--size: 36) {
		.A:has(+ .b) { --kern: -1 }
		.a:has(+ .b) { --kern: 1 }
		.a:has(+ .c) { --kern: 1 }
		.a:has(+ .g) { --kern: 2 }
		.A:has(+ .l) { --kern: -2 }
		.a:has(+ .n) { --kern: 2 }
		.a:has(+ .p) { --kern: 1 }
		.a:has(+ .s) { --kern: 1 }
		.b:has(+ .o) { --kern: 1 }
		.b:has(+ .u) { --kern: -1 }
		.C:has(+ .l) { --kern: -1 }
		.c:has(+ .r) { --kern: -1 }
		.c:has(+ .t) { --kern: -1 }
		.e:has(+ .b) { --kern: 1 }
		.e:has(+ .c) { --kern: 2 }
		.e:has(+ .e) { --kern: 2 }
		.g:has(+ .e) { --kern: 1 }
		.g:has(+ .r) { --kern: 1 }
		.h:has(+ .e) { --kern: 1 }
		.I:has(+ .n) { --kern: -1 }
		.i:has(+ .o) { --kern: -2 }
		.i:has(+ .p) { --kern: -1 }
		.I:has(+ .s) { --kern: -2 }
		.I:has(+ .t) { --kern: -2 }
		.j:has(+ .e) { --kern: 3 }
		.l:has(+ .a) { --kern: -1 }
		.l:has(+ .l) { --kern: -3 }
		.M:has(+ .a) { --kern: 2 }
		.n:has(+ .g) { --kern: 1 }
		.n:has(+ .t) { --kern: -1 }
		.o:has(+ .g) { --kern: 1 }
		.o:has(+ .n) { --kern: 1 }
		.o:has(+ .u) { --kern: 2 }
		.P:has(+ .a) { --kern: 1 }
		.p:has(+ .h) { --kern: -2 }
		.P:has(+ .r) { --kern: -1 }
		.p:has(+ .t) { --kern: -1 }
		.r:has(+ .i) { --kern: -1 }
		.r:has(+ .o) { --kern: -1 }
		.r:has(+ .y) { --kern: 2 }
		.s:has(+ .s) { --kern: -2 }
		.S:has(+ .y) { --kern: 1 }
		.t:has(+ .h) { --kern: -1 }
		.t:has(+ .i) { --kern: -2 }
		.T:has(+ .y) { --kern: -3 }
		.u:has(+ .r) { --kern: -1 }
		.u:has(+ .s) { --kern: -1 }
		.u:has(+ .t) { --kern: -1 }
		.v:has(+ .e) { --kern: 1 }
		.W:has(+ .e) { --kern: -3 }
		.y:has(+ .l) { --kern: -1 }
		.y:has(+ .p) { --kern: 1 }
		.y:has(+ .t) { --kern: 2 }

		.amp:has(+ .I) { --kern: -1 }

		.rsquo:has(+ .s) { --kern: -3 }
		.t:has(+ .rsquo) { --kern: -2 }
		*:has(+ .ldquo) { --kern: -5 }
		*:has(+ .rdquo) { --kern: -1 }

		*:has(+ .colon) { --kern: -1 }

		.num1 { --kern: -3 }
	}
}
