:is(figcaption, li, summary):where(:not(:has(details, ol, p, section, ul))), /* “Tight” ones. */
cite,
dd,
dt,
h1,
h2,
h3,
h4,
p,
td,
th {
	margin-inline-end:   calc(-1 * var(--right) - var(--kerning, 0em));
	margin-inline-start: calc(-1 * var(--left));
	overflow-wrap:       break-word;
	text-box:            trim-both cap alphabetic;

	/* Chrome doesn’t apply `text-box-trim` on inline elements, so can’t set on `*`:
	/* https://codepen.io/nileshprajapati/pen/RweKdmw */
	/* https://caniuse.com/mdn-css_properties_text-box-trim_inline_elements */
}

em {
	--italic: 1;

	font-style:          italic;
	margin-inline-end:   round(0.25em, var(--1px));
	margin-inline-start: round(-0.125em, var(--1px));

	/* `font-style` does *not* set `ital` axes! */
	/* https://arrowtype.github.io/vf-slnt-test/slnt-ital-tests/index.html */
}

/* TODO `markdown-it` process solo `strong`/`sub` out to something more semantic? */
strong {
	font-weight: bold;

	@container style(--size >= 12) { --kerning: calc(-1 * var(--1px)) }
}

nobr { --wrap: nowrap }

abbr {
	background:            var(--background--dashed);
	background-clip:       content-box;
	background-position-y: var(--underline);
	line-height:           inherit;
	margin-inline-end:     calc(-1 * var(--right) - var(--kerning, 0em));
	margin-inline-start:   calc(-1 * var(--left));
	padding-inline-end:    var(--right);
	padding-inline-start:  var(--left);
}

/* TODO Do this as white-check overlay? */
[inert] {
	:is(figcaption, li, summary):where(:not(:has(details, ol, p, section, ul))),
	dd,
	dt,
	h1,
	h2,
	h3,
	h4,
	p,
	td,
	th {
		background:        var(--check--text);
		color:             transparent;
		padding-block-end: round(0.5ex, var(--1px));
		margin-block-end:  calc(-1 * round(0.5ex, var(--1px)));

		* { color: inherit }

		a:empty { visibility: hidden } /* Heading anchor links. */

		@supports (font: -apple-system-body) {
			/* Fix Safari rounding. 🤷‍♀️ */
			a, em, strong, abbr { --kerning: 0.0001em }

			a {
				position: static; /* These straight up disappear… */

				&::after { all: unset } /* And cause a scroll! */
			}
		}
	}
}

/* On parent for `@container`. */
hgroup:has(h1, h2, h3) { --family:  'New York' }

@container style(--family: 'New York') {
	:where(*, *::before, *::after) {
		--wrap:    balance;
		--leading: 1;
		--kerning: round(
			calc(-0.1em * pow(var(--size) / 36, 1.5)),
			var(--1px)
		);
	}
}

hgroup:has(h1) { --size: var(--size--h1) }
hgroup:has(h2) { --size: var(--size--h2) }

hgroup:has(h3) {
	--size: var(--size--h3);

	/* Tweak smaller breaks. */
	@container style(--size < 12) {
		--kerning: initial;

		font-weight: bold; /* Goes to `1px`; bulk up. */
	}
}

/* Stay swiss. */
hgroup:has(h4) {
	--size: var(--size--h4);

	font-weight: bold;
}

/* Code stuff! */
code, kbd, samp {
	--size: var(--size--code);

	font-family: 'Monaco', monospace;
}
