:is(figcaption, li, summary):where(:not(:has(details, ol, p, section, ul))), /* “Tight” ones. */
dd,
dt,
h1,
h2,
h3,
h4,
p,
td,
th {
	margin-inline-end:   calc(-1 * var(--right));
	margin-inline-start: calc(-1 * var(--left));
	overflow-wrap:       break-word;
	text-box:            trim-both cap alphabetic;

	/* Chrome doesn’t apply `text-box-trim` on inline elements, so can’t set on `*`:
	/* https://codepen.io/nileshprajapati/pen/RweKdmw */
	/* https://caniuse.com/mdn-css_properties_text-box-trim_inline_elements */
}

em {
	--italic: 1;

	font-style:          italic;
	margin-inline-end:   var(--3px);
	margin-inline-start: calc(-1 * var(--2px));

	/* `font-style` does *not* set `ital` axes! */
	/* https://arrowtype.github.io/vf-slnt-test/slnt-ital-tests/index.html */
}

abbr {
	background-image:      url('patterns/dash.svg');
	background-position-y: calc(1em + var(--1px));
	background-repeat:     repeat-x;
	background-size:       var(--2px) var(--1px);
}

[inert] {
	:is(figcaption, li, summary):where(:not(:has(details, ol, p, section, ul))),
	dd,
	dt,
	h1,
	h2,
	h3,
	h4,
	p,
	td,
	th {
		background-clip:   text;
		background-image:  url('patterns/check.svg');
		background-size:   var(--2px);
		color:             transparent;
		padding-block-end: var(--4px);
		margin-block-end:  calc(-1 * var(--4px));

		* { color: inherit }

		/* Fix Safari rounding. 🤷‍♀️ */
		@supports (font: -apple-system-body) {
			a { position: static }
			a, em, abbr { letter-spacing: 0.0001em }
		}
	}
}

/* On parent for `@container`. */
hgroup:has(h1) {
	--family: 'New York';
	--size:   var(--size--h1);
}
