/* Explicitly defined for `@container` query. */
@property --family {
	inherits:      true;
	initial-value: 'Geneva';
	syntax:        '<string>';
}

/* Integer/unitless for `calc` and `opsz` use. */
@property --size {
	inherits:      true;
	initial-value: 10;
	syntax:        '<integer>';
}

:where(:root) {
	--scaling: 2; /* How many (CSS) pixels in our pixel. */

	--1px: calc(1 / var(--size) * 1rem); /* Scaled pixel. */

	/* Shorthands. */
	--2px: calc(var(--1px) * 2);
	--3px: calc(var(--1px) * 3);
	--4px: calc(var(--1px) * 4);
	--5px: calc(var(--1px) * 5);
	--6px: calc(var(--1px) * 6);
	--7px: calc(var(--1px) * 7);
	--8px: calc(var(--1px) * 8);

	--size--h1: 24;
	--size--h2: 20;
	--size--h3: 14;

	--leading: round(calc(4 / 3 * 1em), var(--1px)); /* “Snap” to scaled pixel. */
	--lead:    round(calc(1lh - 1ex), var(--1px)); /* Between x-heights. */

	--gutter--inner: var(--lead);
	--gutter--outer: var(--5px);
	--gutter--total: calc(var(--gutter--inner) + var(--gutter--outer));
	--page:          round(down, calc(100vw - 2 * var(--gutter--outer)), var(--1px));

	--enlargement: var(--4px);

	--color:      black;
	--background: white;

	--border: solid var(--1px) var(--color);
	--shadow: var(--1px) var(--1px) 0 var(--color);

	@media (width >= 35em) { /* Landscape phones. */
		--gutter--outer: round(5vw, var(--1px));

		@media (height >= 27em), (width >= 60em) { /* Tablets. */
			--size: 12;

			--size--h1: 36;
			--size--h2: 24;
			--size--h3: 18;
		}
	}
}
