/* How many (CSS) pixels in our pixel. */
@property --scaling {
	inherits:      true;
	initial-value: 1.5;
	syntax:        '<number>';
}

@property --family {
	inherits:      true;
	initial-value: 'Geneva';
	syntax:        '<string>';
}

/* Specified as integer/unitless for `calc` and `opsz` use. */
@property --size {
	inherits:      true;
	initial-value: 12;
	syntax:        '<integer>';
}

:where(:root) {
	--1px: calc(1 / var(--size) * 1rem); /* Scaled pixel. */

	/* Shorthands. */
	--2px: calc(var(--1px) * 2);
	--3px: calc(var(--1px) * 3);
	--4px: calc(var(--1px) * 4);
	--5px: calc(var(--1px) * 5);
	--6px: calc(var(--1px) * 6);
	--7px: calc(var(--1px) * 7);
	--8px: calc(var(--1px) * 8);

	--leading: round(calc(4 / 3 * 1em), var(--1px));

	--enlargement: var(--4px);

	--color:      black;
	--background: white;

	@media (resolution: 3x) { --scaling: 1.666666 } /* Crisp phone pixels. */

	@media (width >= 35em) { /* Landscape phones. */
		@media (height >= 27em), (width >= 60em) { /* Tablets. */
			--scaling: 2;
		}
	}
}
