:root {
	--accent: aquamarine;
	--background: white;
	--foreground: darkslategray;
}

@media (prefers-color-scheme: dark) {
	:root {
		--accent: teal;
		--background: darkslategray;
		--foreground: white;
	}
}

body {
	background-color: var(--background);
	color: var(--foreground);
}

section { --background: var(--accent); }
