ol {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

ol:first-child { justify-items: stretch; } /* Default. */

ol:nth-child(2) { justify-items: start; }

ol:nth-child(3) { justify-items: center; }

ol:last-child { justify-items: end; }
