section:nth-child(1) {
	border-radius: 50%; /* Relative to size. */
	border: 0.5rem dotted deepskyblue;
	text-align: center;
}

section:nth-child(2) {
	background-color: gold; /* No borders! */
	border-radius: 1rem; /* Specific amount. */
}

section:nth-child(3) {
	border-end-end-radius: 3rem; /* This logical syntax is tricky. */
	border-start-start-radius: 3rem;
	border: 1rem solid tomato;
}
