/* This is a “wildcard,” targeting any element. */
* { color: gray; }

p { color: red; } /* All paragraphs. */

blockquote { color: blue; } /* All blockquote. */

footer { background-color: lightgray; } /* Etc. */
