section { background-color: aquamarine; }

aside { background: gold; }

/* When their device supports `hover`. */
@media (hover: hover) {
	aside { visibility: hidden; }

	section:hover + aside { visibility: visible; }
}
