section { --background: aquamarine; }

@media (height >= 500px) {
	section:first-child { --background: coral; }
}

@media (height = 500px) {
	section:nth-child(2) { --background: orange; }
}

@media (height <= 500px) {
	section:last-child { --background: gold; }
}
