section { background-color: aquamarine; }

@media (height > 500px) {
	section:first-child { background-color: coral; }
}

@media (height = 500px) {
	section:nth-child(2) { background-color: orange; }
}

@media (height < 500px) {
	section:last-child { background-color: gold; }
}
