ol {
	block-size: 9rem;
	display: flex;
}

/* All grow equally. */
ol:nth-child(2) li { flex-grow: 1; }

ol:nth-child(3) li:nth-child(1) {
	background-color: hotpink;
	flex-grow: 1; /* Just grow this one. */
}

ol:nth-child(4) li:nth-child(1) {
	background-color: hotpink;
	flex-grow: 1;
}

ol:nth-child(4) li:nth-child(2) {
	background-color: crimson;
	flex-grow: 2; /* Grow twice as much. */
}

ol:nth-child(5) li { inline-size: 50%; } /* With 3 `li` would be 150%. */

ol:nth-child(5) li:nth-child(1) {
	background-color: lightsalmon;
	flex-shrink: 0; /* Don’t shrink this one! */
}
