/* Same as before. */
body {
	font-family: sans-serif;
	padding: 1rem;
}

section {
	background-color: deepskyblue;
	border-block-start: solid black 0.2rem;
	padding: 1rem;
}

section:not(:first-child) { margin-block-start: 1rem; }
