section { --background: aquamarine; }

@media (orientation: portrait) {
	section:first-child { --background: gold; }
}

@media (orientation: landscape) {
	section:last-child { --background: orange; }
}
